[submodule "pack/bundle/start/coc.nvim"]
	path = pack/bundle/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
	branch = release
[submodule "pack/bundle/start/fzf.vim"]
	path = pack/bundle/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "pack/bundle/start/rust.vim"]
	path = pack/bundle/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "pack/bundle/start/tagbar"]
	path = pack/bundle/start/tagbar
	url = https://github.com/preservim/tagbar
[submodule "pack/bundle/start/vim-arduino"]
	path = pack/bundle/start/vim-arduino
	url = https://github.com/stevearc/vim-arduino
[submodule "pack/bundle/start/vim-crystalline"]
	path = pack/bundle/start/vim-crystalline
	url = https://github.com/rbong/vim-crystalline
[submodule "pack/bundle/start/vim-fugitive"]
	path = pack/bundle/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/bundle/start/vim-gutentags"]
	path = pack/bundle/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "pack/bundle/start/vim-obsession"]
	path = pack/bundle/start/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "pack/bundle/start/vim-prosession"]
	path = pack/bundle/start/vim-prosession
	url = https://github.com/dhruvasagar/vim-prosession.git
[submodule "pack/bundle/start/vim-rooter"]
	path = pack/bundle/start/vim-rooter
	url = https://github.com/airblade/vim-rooter
[submodule "pack/bundle/start/vim-simple-todo"]
	path = pack/bundle/start/vim-simple-todo
	url = https://github.com/vitalk/vim-simple-todo.git
[submodule "pack/bundle/start/vim-startuptime"]
	path = pack/bundle/start/vim-startuptime
	url = https://github.com/dstein64/vim-startuptime
[submodule "pack/bundle/start/vim-unimpaired"]
	path = pack/bundle/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "pack/bundle/start/vim-vinegar"]
	path = pack/bundle/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "pack/bundle/start/vim-jsx-pretty"]
	path = pack/bundle/start/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty
[submodule "pack/bundle/start/vim-commentary"]
	path = pack/bundle/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/bundle/start/emmet-vim"]
	path = pack/bundle/start/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "pack/bundle/start/vim-closetag"]
	path = pack/bundle/start/vim-closetag
	url = https://github.com/alvan/vim-closetag
[submodule "pack/bundle/start/vim-surround"]
	path = pack/bundle/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/bundle/start/ctrlp.vim"]
	path = pack/bundle/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "pack/bundle/start/dart-vim-plugin"]
	path = pack/bundle/start/dart-vim-plugin
	url = https://github.com/dart-lang/dart-vim-plugin
[submodule "pack/bundle/start/ultisnips"]
	path = pack/bundle/start/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "pack/bundle/start/dartlang-snippets"]
	path = pack/bundle/start/dartlang-snippets
	url = https://github.com/natebosch/dartlang-snippets
